<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SrGetRemndSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SrGetRemndSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44303/SrGetRemnd.asmx" binding="basicHttpBinding"
                bindingConfiguration="SrGetRemndSoap" contract="RefWs.SrGetRemndSoap"
                name="SrGetRemndSoap" />
        </client>
    </system.serviceModel>
</configuration>